.username {
  text-align: right;
  padding: 10px;
}

.user{
  color: red;
}

.avocado-image-wrapper img{
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.avocado-image-wrapper img.active {
  width: 98%;
  margin:0px auto;
  display: block;
}

.counter{
  text-align: center;
}

.upgradeable{
  cursor: pointer;
  opacity: 1;
}

.non-upgradeable{
  pointer-events: none;
  opacity: 0.5;
}

.upgrade-icon img{
  width: 100%;
}

.upgrade-icon{
  width: 150px;
}

main {
  width: 70%;
  margin: 0px auto;
}

.upgrade{
  border: 1px solid black;
}