.avocado-image-wrapper{
  margin: 0px auto;
}

.avocado-image-wrapper img{
  width: 100%;
  cursor: pointer;
}

.counter{
  text-align: center;
}

.upgradeable{
  cursor: pointer;
  opacity: 1;
}

.non-upgradeable{
  pointer-events: none;
  opacity: 0.5;
}