body {
  font-family: 'Dosis', sans-serif;
}

*{
  box-sizing: border-box;
}

main{
  background-color: rgba(130, 197, 130, 0.466);
}

.username-input{
  background-color: rgba(2, 100, 2, 0.877);
  text-align: center;
}

.username-input p{
  float: left;
  margin-top: 4px;
  margin-right: 7px;
}

.input-field{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.8em;
  color:rgb(185, 248, 185);
}

input.form-control{
  font-family: 'Shadows Into Light Two', cursive;
  width: 40%;
  background-color: rgb(240, 238, 238);
  float: left;
  margin-top: 3px;
  font-size: 0.65em;
}

.clear{
  clear: both;
}

.form-group{
  margin: 0px auto;
  text-align: center;
  padding: 14px;
  width: 40%;
}

.username {
  text-align: right;
  padding: 10px;
}

.user{
  color: rgb(185, 248, 185);
  margin: 4px 0px 0px 4px;
  font-weight: 700;
  float: left;
}

.avocado-wrapper-outer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.avocado-image-wrapper img{
  transform: rotate(-18deg);
  width: 100%;
  cursor: pointer;
  transition: all 300ms;
}

.avocado-image-wrapper img.active {
  width: 98%;
  margin-bottom: 8px;
}

.counter{
  text-align: center;
  font-size: 1.7em;
  color: rgb(2, 71, 2);
  font-weight: 700;
  margin-top: -8px;
}

.upgradeable{
  cursor: pointer;
  opacity: 1;
  transition: all 400ms;
  margin: 0;
}

.upgradeable:hover{
  background-color: rgba(231, 231, 231, 0.712);
}

.non-upgradeable{
  pointer-events: none;
  opacity: 0.8;
  transition: all 1000ms;
  margin: 0;
}

.upgrade-icon{
  height: 127px;
  overflow: hidden;
  padding: 0;
}

.upgrade-icon img{
  width: 100%;
  object-fit: contain;
}

.upgrade{
  background-color: #FFF;
  padding: 0;
  margin: 10px;
  border-radius: 3px;
}

.upgrade-description{
  padding: 10px;
}

.cost{
  float: left;
  margin: 1px 3px 0px 0px;
  font-size: 1.1em;
}

.cost-wrapper::after{
  display: block;
  content: '';
  clear: both;
}

.cost-icon{
  width: 22px;
  height: 22px;
  float: left;
}

.cost-icon img{
  width: 100%;
}

.green{
  color: rgb(4, 139, 4);
  font-weight: 700;
}

.red{
  color: rgb(194, 11, 11);
  font-weight: 700;
}

@media screen and (max-width: 700px){
  input.form-control{
    width: 100%;
  }
}